<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DiseaseDash</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="p-3 mb-2 bg-primary text-white" align="center">
<p style="color:white;font-size:40px;font-weight: bold;">Update Patient Data</p>
</div>

<form action= "{% url 'disease' %}" method = "POST">{% csrf_token %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Patient</th>
      <th scope="col">Doctor</th>
      <th scope="col">Symptoms</th>
      <th scope="col">Possible Disease</th>
      <th scope="col">Medicine</th>
      <th scope= "col">Date of visit</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"> <select name = "patient">
          {% for element in patientlist %}
            <option  value={{ element.patient_name }}>{{ element.patient_name }}</option>
            {% endfor %}
           </select>
          </th>
          <th>  
            <select name = "doctor">
                <option  value={{ doctor_name }}>{{ doctor_name }}</option>
             </select>
          </th>
          <td><input placeholder="Enter symptom " name="symptoms_disease" required></td>
          <td><input placeholder="Enter possible disease " name="disease_possible" required></td>
          <td><input placeholder="Enter medicine " name="medicine" required></td>
          <td><input type="date" placeholder="Enter Qualifications " name="date" required></td>
    </tr>
  </tbody>
</table>
<div class="text-center">
      <button type="Submit" class="btn btn-dark">Submit</button>
</div>
</body>
</html>